<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="kunisu" src="{{ "https://cdn.discordapp.com/avatars/753183327644811274/efe7c40c79175b4cc14b83c588642658.png?size=4096" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Kunisu </h3>
    <ul>
      <li> About</li>
    </ul>
    <p>Kunisu is a multi-purpose discord bot!</p>
    <a class="project-link" href="https://github.com/yuu0007/Kunisu">Repository</a>
  </div>
  <div class="images-left">
    <img alt="api" src="{{ "https://i.imgur.com/TQWfLn1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Yuu Api </h3>
    <ul>
      <li> About</li>
    </ul>
    <p>This api contains many stuff!</p>
    <a class="project-link" href="https://api.yuudev.tk">Link to API</a>
  </div>
</div>

